//****************reset scss *****************//

body {
  margin:0;
  padding:0;
  width:100%;
  font-family:$font-stack;
  font-size:16px;
  background-color:#eaeaea;
}

ul {
  list-style:none;
  margin:0;
  padding:0;
}

ul li {
  margin:0;
  padding:0;
}

ol {
  margin:0;
  padding:0;
}

p {
  padding:0;
  margin: 0 0 5px 0;
}

h1, h2, h3, h4, h5, h6 {
  padding:0;
  margin: 0 0 5px 0;
  font-weight: bold;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

fieldset {
  border:none;
  margin:0;
  padding:0;
}

button {
  cursor:pointer;
}

//end reset

p,a,h1,h2,h3,h4,h5,h6,li,div{
  color:$color-grey;
}

h1{
  font-family: 'Lato-Black';
  font-size:50px;
  line-height: 54px;
  text-transform: uppercase;
  color:$color-grey;
}

h2{
  font-family: 'Conv_Gotham-Bold';
  font-size: 26px;
  line-height: 26px;
  text-transform: uppercase;
  color:$color-grey;

}

h3{
  font-family: 'Conv_Gotham-Bold';
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color:$color-grey;
}

.wrapper{
  max-width: 100%;
  width: 1200px;
  margin: 0 auto;
  padding:0 15px;
  box-sizing:border-box;
 
}

.section-title{
  text-align: center;
  display: block;
  width: 100%;
  padding:20px 0;
  margin-bottom: 45px;
  position:relative;


    span{
      color:$color-blue;
    }

    &:after{
      position: absolute;
      background-color:$color-grey;
      display: block;
      content: '';
      width: 100px;
      height: 2px;
      left: 50%;
      @include translate(-50%, 0);    
      bottom: 5px;

    }
}

img{
  max-width: 100%;
  width:100%;
}

//media queries

@include media(md){

}

@include media(sm){

}

@include media(xs){
    
h1{
 
  font-size:24px;
  line-height: 24px;
 
}

h2{
  font-size: 20px;
  line-height: 26px;
}

h3{
  font-size: 16px;
  line-height: 22px; 
}
}

@include media(mb){

}