@font-face {
    font-family: 'Conv_Gotham-Rounded-Medium_0';
    src: url('../fonts/Gotham-Rounded-Medium_0.eot');
    src: local('☺'), url('../fonts/Gotham-Rounded-Medium_0.woff') format('woff'), url('../fonts/Gotham-Rounded-Medium_0.ttf') format('truetype'), url('../fonts/Gotham-Rounded-Medium_0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}





