$base-font-size: 16px;
$font-stack: 'Ek Mukta', sans-serif;



/*     Colors      */
$color-bg: #ffebe8;
$color-yellow:#f0ac00;
$color-blue:#00aeef;
$font-color:#333333;
$font-color1:#666666;
$color-pink:#ff4881;
$color-green:#39b54a;
$color-white:#ffffff;
$color-grey:#666666;
$color-orange:#f0ac00;
$color-nav-bg:#f7f7f7;
$color-footer-bg:#e9eff5;
