#entertainment{

	> .row{
		margin-bottom:30px;
	}

	.right-news{
		padding:0;
	}

	
	.card{
		position:relative;
		.card-image{

			img{
				object-fit: cover;
				width: 100%;
				 max-height: 418px;
				position:relative;
			}
		}

		.card-image2{

			img{
				object-fit: cover;
				width: 100%;
				max-height: 200px;
				position:relative;
			}
		}

		.caption{
			background: rgba(0,0,0,0.3) none repeat scroll 0 0;
		    bottom: 0;
		    padding: 8px 12px;
		    position: absolute;
		    text-align: left;
		    width: 100%;
		    color:$color-white;

		    .label{
		    	margin:5px 0;
		    }

	    	a{
	    		display: block;
	    		color:$color-white;

	    		&:hover,&:active{
	    			color:$color-pink;
	    		}
	    	}


		}
	}

	.ent-right{
		margin-top:0;
		.card {
			float:left;

			&:first-child{
				width:100%;
				margin-bottom: 20px;

			}

			&:nth-child(2){
					width:48%;


			}

			&:nth-child(3){
				margin-left:4%;
				width:48%;

			}
		}
	}

	.thumbnail-box{
		border:1px solid #ccc;
		padding:0;
		margin:5px;		   
	    margin: 5px;
	    width: 48%;
	    padding: 2% 2%;
	    margin-right: 2%;
	    float: left;

	    img{

				object-fit: cover;
				width: 100%;
				max-height: 200px;
	    }

	    &:nth-child(2),&:nth-child(4){
	    	margin-right: 0;
	    }

		.caption{
		margin-top:15px;
		
		}
	}

	//model watch carousel
	.entertainment{
		.thumbnail .caption{
			padding:0 0 10px;
		}
	}


	.business-category{
		border:1px solid #ccc;

		h4{
			padding:12px 4px 4px;
		}

		hr{
			margin:0;
		}

		ul{	  	 
		 position: relative;
		 height: 100%;
		 padding:0 0 0 4px;
		  @include clearfix();

		  li{
		  	padding:7px 10px;
		  	border-bottom:1px solid #ccc;



		  	&:hover,&:active{
		  		background-color:$color-blue;

		  		a{
		  			color:$color-white;
		  			text-decoration: none;
		  		}
		  	}

		  	a{
		  		color:$color-grey;
		  	}


		  }	 	

		}

		.gradient-right{   
		 	background: linear-gradient( #ff4881 25%, #00aeef 25%, #00aeef 50%, #39b54a 50%, #39b54a 75%, #666 75%);
		    position: absolute;
		    // content: '';
		    width: 4px;
		    height: 100%;
		    right: 0;
		    left: 0;
		    top: 0;
		    } 	
	}


	.ent-list{
		padding:20px 10px; 
		border:1px solid #ccc;
		margin-bottom: 20px;
	

		.date-box{
			
		}
	}
}

@include media(xs){



#entertainment{	


	.ent-right{
		margin-top:20px;
		.card {
			float:left;

			&:first-child{
				width:100%;
				margin-bottom: 20px;

			}

			&:nth-child(2){
					width:48%;


			}

			&:nth-child(3){
				margin-left:4%;
				width:48%;

			}
		}
	}

	.thumbnail-box{
		width:100%;
		margin:0;
		margin-bottom: 20px;
	}
}


}