#main{
	// padding:40px 0;

	.left-featured:first-child{
		padding:20px 20px 20px 0;
	}
}

.bg-white{
	background-color:$color-white;
}

a:hover h4{
	color:$color-pink;
}

.left-featured{
	display: flex;
	flex-wrap:wrap;
	margin-bottom:40px;

	.featured-header{
		padding:20px 0;	
	}

	.thumbnail{
		padding:0;
		margin:0;
		border:none;
		

		h4{
			margin-top: 20px;
		}
	}

	.latest-left{
		border-top:1px solid #ccc;
	 	border-right:1px solid #ccc;
	}

	.latest-right{
		border-top:1px solid #ccc;
		padding-top:20px;
	}


	.sports{
		background-color:$color-white;
		border-bottom: 1px solid #ccc;
		padding:30px 0 10px;

		&:nth-child(2){
			border:none;
		}

		.sports-image{
			float:left;
			width:50%;
		}

		 .sports-details{
			float:left;
			width:50%;
			padding-left:18px;

			h4{
				margin:5px 0px 10px;
			}

		}
	}
}


.thumbnail-box,.thumbnail{
	background-color:$color-white;
	.date-box{
	display:block;
	color:$color-pink;
	font-size:14px;
	margin:5px 0 15px;	
	}

	.caption-details{
		margin-bottom:10px;
	}

}



.advertisement2{
	margin-bottom:25px;
	img{
		width:100%;
	}
}


.right-news{
	background-color:$color-white;
	padding:10px 0;
	margin-bottom:20px;	
}

.right-title{
	text-align:center;	
}

.news-list{
		padding:0 8px;
		.list-img{
			float:left;
			width:25%;
			display: inline;
			vertical-align:top;

			img{
				max-width: 100%;
				margin-top: 8px;
			}
		}

		.list-detail{
			float:right;
			width:75%;
			text-align:left;
			font-weight: normal;
			padding:4px;
			padding-left:10px;

			display: inline-block;
			font-size: 16px;
		}
}

.advertisement3{
	width:100%;
	display:block;
	max-height:100px;
	margin-bottom:20px;
}



.horoscope{
	display:table;
	width:100%;
	height:auto;
	margin-top:10px;	

	
	.horoscope-img{
		display: table-cell;
		box-sizing:border-box;
		vertical-align: top;
		width: 30%;	
		padding:0 10px 10px;
		
		

		img{
			background-color:$color-green;
			padding:5px;
			vertical-align: top;
			max-width: 100%;
			@include border-radius(50%);
		}
	}

	.horoscope-detail{
		display: table-cell;
		vertical-align: top;
		width:80%;
		height: auto;
		line-height: 20px;
	}
	
}



.politics-left{
	width:50%;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	padding:20px;
	float:left;

	img{
		width:100%;
	}

	.caption{
		border:none;
	}
}

.politics-right{
	width:50%;
	border-top:1px solid #ccc;
	padding:20px;
	float:left;

	.politics-list{
		margin-bottom:10px;

		@include clearfix();
	}

	img{
		width:30%;
		float:left;
	}

	.politics-details{
		width:70%;
		float:left;
		padding:0 10px;
	}	
}


.entertainment{

	.btn-direction{
		float:right;

		&:nth-child(2){
			margin-right:8px;
		}
	}
	.thumbnail{
		box-sizing:border-box;
		 padding:0 10px;

	}
}

.advertisement4{
	margin-bottom:40px;
}

@include media(sm){
	#bannerCarousel{
	    margin-bottom: 20px;
	}
	}

@include media(xs){
	#main{
		margin-top:150px;
	}
	
}

