#single{

	.featured-header{
		h3{
			padding-left:20px;
		}
	}

	.right-news{
		padding:10px 0 0;
	}

	.business-category{

		hr{
			margin:0;
		}

		ul{	  	 
		 position: relative;
		 height: 100%;
		 padding:0 0 0 4px;
		  @include clearfix();

		  li{
		  	padding:7px 10px;

		  	&:hover,&:active{
		  		background-color:$color-blue;

		  		a{
		  			color:$color-white;
		  			text-decoration: none;
		  		}
		  	}


		  }	 	

		}

		.gradient-right{   
		 	background: linear-gradient( #ff4881 25%, #00aeef 25%, #00aeef 50%, #39b54a 50%, #39b54a 75%, #666 75%);
		    position: absolute;
		    // content: '';
		    width: 4px;
		    height: 100%;
		    right: 0;
		    left: 0;
		    top: 0;
		    } 	
	}	

	.thumbnail-box{
		img{
		width:100%;
		}

		.caption{
			padding:10px;
		}
	}  

	.advertisement{

		padding:0;
	}

	.add-image{
		width:100%;
	}



}

@include media(xs){
	#single{
		.advertisement{
			display: block !important
		}
	}
} 


