//****************footer***************//
.footer-main{
  padding:30px 0 0;
  background-color:$color-footer-bg;
  margin-top: 40px;
  // border-top:2px solid $color-pink;
  position: relative;
  @include clearfix();

  &:before{
    background:linear-gradient(to right, $color-pink 25%,$color-blue 25%, $color-blue 50%, $color-green 50%, $color-green 75%, $color-grey 75%);
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    right: 0;
    left: 0;
    top: 0;
  }
}

.footer-item{  
 
  text-align:left;
  background-color:$color-footer-bg;


  @include clearfix();

  // &:nth-child(2){
  //   margin:0 2%;
  // }

  h3{
    margin-bottom: 10px;
    color:$color-blue;
  }


  li a{    
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;   
    letter-spacing:0.4px;
    color:$font-color;
    @include transition(all,0.3s,ease-in-out);

      &:hover{
        color:$color-grey;
      }
  }

}

.contact{
  border-left:1px solid #ccc;
}

.logo-bottom{
  width:200px;
  max-width: 100%;
  

  &:after{
    background-color:$color-pink;
    width:100%;
    height: 3px;
    margin-top: 5px;
  }
}

.footer-bottom{
  padding:10px 0;
  background-color:$color-blue;
  @include clearfix();

    ul li{
      display: inline-block;
      text-align:right;
      padding:0 10px;

      a{
        color:$color-white;
      }
    }
}

.copyright{
    width:50%;    
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    letter-spacing: 0.2px;

    span{
      text-transform: uppercase;
      color:$color-orange;
    }
}

.copyright{
  text-align:left;
  float:left;
}



//media queries

@include media(md){

}

@include media(sm){

}

@include media(xs){
  .footer-item{
    width:100%;
    margin-bottom: 30px;
    text-align: center;

    // &:nth-child(2){
    //   margin:0;
    //   margin-bottom: 30px;
    // }
  }

  .contact {
    border-left: none;
}
  

.copyright{
  text-align:center;
  float:none;
  display: block;
  width:100%;
}


}

@include media(mb){

}