//********************header**********************//
.l-header {   
     @include clearfix();

      &.fixed{
        position:fixed;
        left: 0;
        top: 0;
        width: 100%;  
        z-index: 1000;
        @include box-shadow(0,1px,10px,rgba(0, 0, 0, 0.75));
       
       .logo{
        width:150px;
        position:absolute;
        display: block;

        img{
          width:150px;
        }
       }

       .header-top{
        display: none;
       }       

       .advertisement{

        display: none;
       }

       .header-middle{
        display: none;
       }

      }

  .logo{
    width:100%;
    max-width:200px;
    
  }   
}

.header-top{
  background-color: $color-blue;
  padding:4px 0;
  @include clearfix(); 

    .ht-content{
    width: 50%;
    font-family:$font-stack;
    font-size: 14px;
    color:$color-white;
    line-height: 18px;
    padding:10px 0;
    letter-spacing:1px;

    a{
      color:$color-white;

      span{
        background-color:$color-green;
        padding:4px 8px;
        margin-top:-5px;
        @include border-radius(2px);
      }
    }
    
  }

  .ht-mail{
    float:left;
    text-align:left;
    position:relative;

      .ht-publish{
        position:absolute;
      }
      a{
        &:hover,&:active,&:focus{
          text-decoration: none;
        }
      }

      .arrow-right {
            position:absolute;
            display: inline-block;
            width: 0px;
            height: 0px;
            border-top: 13px solid transparent;
            border-bottom: 14px solid transparent;
            border-left: 11px solid $color-green;
            margin-left:92px;
            padding:0;
            background:none;

      }

  }

  .ht-contact{
    float:right;
    text-align:right;
  }

}

.navbar{
  border:none;
}

.header-middle{
  background-color:#eaeaea;
}

.header-nav{
padding:15px 0 0;
background-color:#fff;
@include clearfix();
@include transition(all,0.4s,ease);
}

.advertisement{
  padding-top:10px;
}

.date{
font-size: 14px;
line-height: 20px;
color:$color-grey;
}

.navbar-default{
margin-bottom: 0;
// float:left;
// padding:0;
// width:100%;
background-color:$color-nav-bg;

  .navbar-nav 
   > li{
      // display: inline-block;
      // margin-right: 18px;        

      > a{
        font-family:$font-stack;
        font-size:16px;
        
        // position:relative;   
      
        &:after{
            position: absolute;
            display: block;
            content: "";
            width:0;
            left:0;
            height: 3px;
            background-color:$color-green;
            bottom:0px;
            @include transition(all,0.3s,ease-in-out);
        }

        &:hover:after{
          width:100%;
          // left:-10%;
        }  

        &.active:after{
          width:100%;           
        }      
      
      }


       &:nth-last-child(2){            
       
          a{
            border:1px solid $color-blue;
            padding:3px; 
            margin-top:10px; 
            &:hover:after{
            width:0;
            }
          }          
        }  

        &:last-child{
          background-color:$color-blue;
          color:$color-white;
          float:right;
           right:0;
           margin-top:0;
           margin-left:20px;             
          a{
            background-color:$color-blue;
            color:white;  
            &:hover:after{
            width:0;
            }
          }          
        }


    }
}    

  

.breadcrumb{
  background-color:$color-white;
  margin-top:20px;
}




//media queries

@include media(md){

}

@include media(sm){



}



@include media(xs){ 

  //********************header**********************//
.l-header {   
     @include clearfix();

      &.fixed{
        position:fixed;
        left: 0;
        top: 0;
        width: 100%;  
        z-index: 1000;
        @include box-shadow(0,1px,10px,rgba(0, 0, 0, 0.75));
       
       .logo{
        width:150px;
        position:absolute;
        display: block;
        z-index: 10001;
        top: 7px;
       }

       .header-top{
        display: none;
       }



       .header-middle{
        display: block;
      }

       .date{
        display: none;
       }


      }

    
}

  .l-header{
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    // @include box-shadow(0,1px,10px,rgba(0, 0, 0, 0.75));

    .logo{
      width:120px;   
       
    }


  }

  .header-top{
    display: none;
  } 

  .header-nav{    
    .wrapper{
      padding:0;
    }
  }

  .main-nav{     
    float:right;
    padding-top:0px;
    width:100%;    
    display: none;

  }

  .navbar-default{
    // float:left;
    // padding:0;
    // width:100%;
    background-color:$color-nav-bg;

  .navbar-nav 
     > li{
        text-align: center;
        // display: inline-block;
        // margin-right: 18px;  

        

        > a{
          font-family:$font-stack;
          font-size:16px;
          
          // position:relative;   
        
          &:after{
              position: absolute;
              display: block;
              content: "";
              width:0;
              left:0;
              height: 3px;
              background-color:$color-green;
              bottom:0px;
              @include transition(all,0.3s,ease-in-out);
          }

          &:hover:after{
            width:100%;
            // left:-10%;
          }  

          &.active:after{
            width:100%;
           
          }      
        
        }


         &:nth-last-child(2){            
         
          a{
            border:1px solid $color-blue;
            padding:3px; 
            margin-top:10px; 
            &:hover:after{
            width:0;
            }
          }          
        }  

        &:last-child{
          background-color:$color-blue;
          color:$color-white;
          float:none;
          margin-right: 0;
          margin-left:0;
          width: 100%;
          a{
            margin-top:2px;
            color:white; 
            width:100%; 
            &:hover:after{
            width:0;
            }
          }          
        }


      }
  }  

   




  .advertisement{
    display: none;
  }

  .navbar-nav .open .dropdown-menu {
    height: 100vh;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 0;
    position: relative;
  }


}


@include media(mb){
 

}






