//******************banner***************//

.hero{
  background-color: $color-white;
  margin:15px 0 30px;
  padding:50px 50px;
  @include box-shadow(8px,10px,20px,rgba(218,215,206,0.8));
       

  h1{
  	font-size: 44px;
  	line-height: 50px;
  }
}

.hero-image{
   margin:50px auto;

  img{
  	width: 100%;
  	display: block;
  }
}


.hero-details{
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 2px;
}



//media queries

@include media(md){

}

@include media(sm){
	.hero{
	  background-color: $color-white;
	  margin:15px 0 30px;
	  padding:50px 50px;
	  @include box-shadow(8px,10px,20px,rgba(218,215,206,0.8));
       

	  h1{
	  	font-size: 34px;
	  	line-height: 40px;
	  }
	}

	.hero-image{
	   margin:50px auto;

	  img{
	  	width: 100%;
	  	display: block;
	  }
	}


	.hero-details{
	  font-size: 22px;
	  line-height: 28px;
	  text-align: center;
	  letter-spacing: 1px;
	}


}

@include media(xs){


}

@include media(mb){

}