.btn-green{
	background-color:$color-green;
	color:$color-white;
	padding:1px 8px;
	@include border-radius(4px);
}

.label-pink{
	background-color:$color-pink;
	display:inline-block;
	font-size:14px;
	padding:5px 8px;
}

.btn-direction{
	background-color:$color-blue;
	padding:3px 4px 1px;
	font-size:12px;
	display:inline;
	color:$color-white;
	@include border-radius(2px);
}

.ht-search{
	
	
	.search-form .form-group {
	  float: right !important;
	  transition: all 0.35s, border-radius 0s;
	  width: 32px;
	  height: 32px;
	  background-color: #fff;
	  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	  border-radius: 25px;
	  border: 1px solid #ccc;
	  margin-bottom: 0;
	}
	.search-form .form-group input.form-control {
	  padding-right: 20px;
	  border: 0 none;
	  background: transparent;
	  box-shadow: none;
	  display:block;
	}
	.search-form .form-group input.form-control::-webkit-input-placeholder {
	  display: none;
	}
	.search-form .form-group input.form-control:-moz-placeholder {
	  /* Firefox 18- */
	  display: none;
	}
	.search-form .form-group input.form-control::-moz-placeholder {
	  /* Firefox 19+ */
	  display: none;
	}
	.search-form .form-group input.form-control:-ms-input-placeholder {
	  display: none;
	}
	.search-form .form-group:hover,
	.search-form .form-group.hover {
	  width: 100%;
	  border-radius: 4px 25px 25px 4px;
	}
	.search-form .form-group span.form-control-feedback {
	  position: absolute;
	  top: -1px;
	  right: -2px;
	  z-index: 2;
	  display: block;
	  width: 34px;
	  height: 34px;
	  line-height: 34px;
	  text-align: center;
	  color: #3596e0;
	  left: initial;
	  font-size: 14px;
	}


}