#bannerCarousel{
	.carousel-caption {
		a{
			h3{
				color:$color-white;
			}
		}

		p{
			color:$color-white;
		}
	}

	.carousel-control{
		.glyphicon{
			font-size: 12px;
		}
	}

	.carousel-indicators{
		display: none;
	}
}

#model-carousel{
	.carousel-control{
		display: none;
	}
}

//owl carousel

.owl-nav,.owl-dots{
	display:none;
}

