input,textarea{
  outline:0;
  color:#fff;
}

.error{
  color:red;
  font-size: 12px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
   color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

.request-form{
  position: relative;
  width:600px;
  max-width: 100%;
  margin:0 auto;
  text-align: center;

  #city{
    position: relative;
    background-image: url(../img/down_arrow.png);
    background-repeat: no-repeat;
    background-position: center right 20px;
    cursor: pointer;
     -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
  }

  input,select,textarea{
    width:100%;
    background-color:$color-grey;
    border:1px solid $color-orange;
    color:#fff;
    padding:0px 20px;
    box-sizing:border-box;
    font-size: 15px;
  }

  input,select{
    height: 50px;

  }

  select{
    text-transform: uppercase;
  }

  textarea{
    resize: none;
    overflow-y:auto;
    padding-top: 10px;
  }

  .form-control{
    padding:10px 0;
    text-align:left;
  }


  button{
    background-color:$color-orange;
    color:#fff;
    padding:10px;
    margin:0;
    border:1px solid $color-orange;
    font-family: 'Conv_Gotham-Rounded-Medium_0';
    font-size: 14px;
    @include transition(all,0.3s,ease-in-out);

    &:hover{
      background-color:#000;
      color:$color-orange;
    }
  }
}


.enquiry-form{

    .form-control{
    margin-bottom:10px;
  }

  input,textarea{
    background-color:$color-grey;
    width:100%;
    border:none;
    padding:5px 10px;
    box-sizing:border-box;
    font-size: 13px;
    line-height: 18px;
  }


  input{
    height: 30px;
  }

  textarea{
    resize: none;
  }

  button{
    float:right;
    color:$color-orange;
    background-color:$color-grey;
    border:none;
    padding:5px 10px;
    margin:0;
    @include transition(all,0.3s,ease-in-out);

    &:hover{
      background-color:#000;
    }
  }

}

@include media(md){    

}

@include media(sm){    

}

@include media(xs){    
  .enquiry-form{
    button{
      float: none;
    }
  }
}

@include media(mb){
 

}