/*megamenu css*/

.navbar-nav>li>.dropdown-menu {
    /*margin-top: 20px;*/
    /*border-top-left-radius: 4px;
    border-top-right-radius: 4px;*/
     border: none;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
    min-height: 400px;
}


/*.navbar-default .navbar-nav>li>a {
  width: 200px;
  font-weight: bold;
}*/

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown.open >a {
    position: relative;
}
.mega-dropdown.open> a::before {
    border-bottom: 14px solid #fff;
    border-left: 14px solid transparent;
    border-right: 16px solid transparent;
    bottom: -16px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 10;
}

// .mega-dropdown.open >a::after {
//     border-bottom: 14px solid #ccc;
//     border-left: 14px solid transparent;
//     border-right: 16px solid transparent;
//     bottom: -16px;
//     content: "";
//     left: 50%;
//     position: absolute;
//     z-index: 8;
// }

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: transparent;
}

.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight: bold;
}

.mega-dropdown-menu form {
    margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
}

.destination {
    background-position: 50% center !important;
    background-size: cover !important;
    min-height: 250px;
    padding: 20px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.destination::before {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
/*@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Fredericka+the+Great|Frijole');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700');

@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Londrina+Outline');
@import url("https://fonts.googleapis.com/css?family=Tangerine");*/
@import url('https://fonts.googleapis.com/css?family=Paytone+One');
.destination > h4 {
    font-size: 30px;
    color: #fff;

    /*font-family: 'Fredericka the Great', cursive;

    font-family: 'Frijole', cursive;*/

   /* font-family: 'Bungee Inline';
font-family: 'Monoton', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Londrina Outline', cursive;*/
font-family: 'Paytone One', sans-serif;
    margin-top: 0;
    text-transform: uppercase;
}
.inner-dropdown-menu {
    display: none;
    padding: 10px 15px;
    width: 100%;
}

.inner-dropdown-menu a {
    color: #999;
}

.side-bar-menu {
    display: none;
    height: 100%;
    left: 25%;
    position: absolute;
    top: 0;
    padding: 20px;
    @include clearfix();

    /*display: none;
    height: 100%;
    left: 25%;
    max-width: 600px;
    position: absolute;
    top: 20px;
    width: 100%;*/
}

.inner-dropdown-menu a:hover .side-bar-menu {
    display: block;
}
.dropdown-activities {
    padding: 20px;
}

.mega-dropdown-menu a {
    color: #424242;
    font-size: 15px;
    padding: 5px 10px;
    display: block;
}

.mega-dropdown-menu .mega-menu-listing a {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: -2px;
    background-color: #fff;
}

.inner-dropdown .fa-caret-down {
    float: right;
}
.open-submenu a:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 0px 12px 10px;
    border-color: transparent transparent transparent #ccc;
    position: absolute;
    right: 5px;
}
/*.side-bar-menu:before {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    opacity: 0.6;
}
*/

.related-menu-image img {
    height: 270px;
    object-fit: cover;
    width: 100%;
}

@media (max-width: 991px) {
    .side-bar-menu {
        background-color: #fff;
        left: 0;
        position: relative;
        top: 0;
        z-index: 10;
    }
   .navbar-nav .open .dropdown-menu {
        height: 100vh;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding-top: 0;
        position: relative;
    }

    .destination {
        background-position: 50% center;
        background-size: cover;
        min-height: 1px;
        padding: 20px;
        position: relative;
        width: 100%;
        z-index: 1;
        height: 25vh;
        margin-bottom: 20px;
    }
}



.mega-dropdown-menu .thumbnail-box{
  
}

.side-bar-menu .row:after{
    @include clearfix();
}