
.right-news{
	ul li:nth-child(2){
		// margin-top:9px;
	}

	.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

	.nav-tabs, .nav-pills {
	    text-align:center;
	}

	.nav-tabs>li>a{
		color:$color-blue;
		border:none;
	}

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border:none;
    background-color:#ffffff !important;
    color:$color-blue;

  }


  .nav>li>a:focus, .nav>li>a:hover {
      text-decoration: none;
      background-color: transparent !important;
      border:none;

      &:after{
      	position: absolute;
	    display: block;
	    content: "";
	    width: 100%;
	    left: 0;
	    height: 3px;
	    background-color: $color-blue;
	    bottom: 0px;
	    transition: all .3s ease-in-out;
	    -webkit-transition: all .3s ease-in-out;
	    -moz-transition: all .3s ease-in-out;
      	}
  }

  .nav-tabs>li>a:hover {
     text-decoration: none;
      background-color:transparent !important;
       border:none;
  }

  .nav-tabs>li{
  	margin-bottom:0;
  }
}
